<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gardenapp.mapper.FarmlandMapper">
  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO farmlands (width, height, gap, offset)
    VALUES (#{width}, #{height}, #{gap}, #{offset})
  </insert>
</mapper>